name: Run Python script capo

# Trigger this workflow on push or pull request to the main branch
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '*/15 9-11 * * *'  # De 09:00 a 11:59 cada 10 minutos
    - cron: '0 0-8 * * *'      # De 00:00 a 08:59 cada hora

# Define the sequence of jobs to run in this workflow
jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'  # You can specify the desired Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run script
      run: |
        python main.py  # Reemplaza 'script.py' con el nombre de tu script
      env:
        API_TOKEN: ${{ secrets.API_TOKEN }}
        CHAT_ID: ${{ secrets.CHAT_ID }}
  
    - name: Commit changes
      run: |
        git config --global user.name 'fdbustamante'
        git config --global user.email 'federicobustamante@gmail.com'
        git add last_id.txt
        git commit -m "Update last_id.txt with new value"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}